body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input{
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

h4{
  width:100%;
  display: block;
  padding: 5px 5px;
}

.register-button{
  width: 100%;
  height: 40px;
  background-color: #4caf50;
  margin: 40px 0px;
  text-align: center;
  color: white;
  font-size: 18pt;
  border-radius: 8px;
}

.add-input{
  background-color: #58589b;
  height: 50px;
  width: 100%;
  margin-top: 53px;
  text-align: center;
  border-radius: 8px;
  color: white;
  font-size: 12pt;
}